<h1>tests</h1>
<div class="box-container" >
    <div class="cards" >
        <div class="image"></div>
        <div class="heading">
            <h4 style="text-transform: uppercase;">java</h4>
        </div>
        <hr>
        <div class="content">
            <p>Basics,OOPs concepts</p>
            <p>Questions :30</p>
            <p>Marks :30</p>
        </div>
    </div>
    <div class="cards">
        <div class="image"></div>
        <div class="heading">
            <h4 style="text-transform: uppercase;">C++</h4>
        </div>
        <hr>
        <div class="content">
            <p>Basics,OOPs concepts</p>
            <p>Questions :30</p>
            <p>Marks :30</p>
        </div>
    </div>
    <div class="cards">
        <div class="image"></div>
        <div class="heading">
            <h4 style="text-transform: uppercase;">python</h4>
        </div>
        <hr>
        <div class="content">
            <p>Basics,OOPs concepts</p>
            <p>Questions :30</p>
            <p>Marks :30</p>
        </div>
    </div>
    <div class="cards">
        <div class="image"></div>
        <div class="heading">
            <h4 style="text-transform: uppercase;">sql</h4>
        </div>
        <hr>
        <div class="content">
            <p>Subqueries ,Nested queries</p>
            <p>Questions :30</p>
            <p>Marks :30</p>
        </div>
    </div>
    <div class="cards">
        <div class="image"></div>
        <div class="heading">
            <h4 style="text-transform: uppercase;">javascript</h4>
        </div>
        <hr>
        <div class="content">
            <p>Basics,OOPs concepts</p>
            <p>Questions :30</p>
            <p>Marks :30</p>
        </div>
    </div>
    <div class="cards">
        <div class="image"></div>
        <div class="heading">
            <h4 style="text-transform: uppercase;">Html</h4>
        </div>
        <hr>
        <div class="content">
            <p></p>
            <p>Questions :30</p>
            <p>Marks :30</p>
        </div>
    </div>
    <div class="cards">
        <div class="image"></div>
        <div class="heading">
            <h4 style="text-transform: uppercase;">css</h4>
        </div>
        <hr>
        <div class="content">
            <p></p>
            <p>Questions :30</p>
            <p>Marks :30</p>
        </div>
    </div>
</div>

