.name{
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 12px;
    margin-right: 5px;
    cursor: pointer;
}
.name:hover{
    background-color:rgb(8, 8, 8);
    border-radius: 5px;
    color: white;
}
