/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url('./assets/data/homebackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin: 10px;
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

}

.form-group {
    margin: 8px;
}

.container {
    margin: 7px;
    padding: 20px;
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: scroll;
}
.container::-webkit-scrollbar{
    display: none;

}

label {
    color: rgb(248, 250, 252);
    margin: 3px;
    font-size: medium;
    font-weight: 500;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    margin: 3px 5px 15px 5px;
    /* background-color: rgb(241, 187, 85 ,0.3); */
    border-radius: 10px;
    background-color: aliceblue;
    /* position: fixed;
    left: 0;
    top: 0; */
    height: 73px;
   
}

.list {
    margin-left: 15px;
    list-style: none;
}

.list a {
    color: rgb(13, 13, 14);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    padding: 7px;
}

.list a:hover {
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
}

input[type="text"],input[type="email"],input[type="number"],input[type="password"]{
    background: white ;
    opacity: 0.7;
    color: rgb(8, 8, 8);
    

}
input::placeholder{
    color: black;
    font-style: italic;
}

form {
    text-align: center;
}
.img1{
    cursor: pointer;
}