/* You can add global styles to this file, and also import other style files */
*{
    margin: 0%;
    padding: 0%;
}
html,
body {
    height: 100%;

}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url('./assets/data/homebackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

}
.logheader{
    position: relative;
    top:5rem ;
}

.form-group {
    margin: 8px;
}

.container {
    margin: auto;
    padding: 20px;
    width: 200px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: scroll;
    position: relative;
    top: 50px;
}

.container::-webkit-scrollbar{
    display: none;

}

label {
    color: rgb(248, 250, 252);
    margin: 3px;
    font-size: medium;
    font-weight: 500;
}

.navbar ul {
    margin: 0;
    padding-left:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    margin: 0 5px 15px 0;
    border-radius: 10px;
    background-color: aliceblue;
    width: 100%;
    height: 4rem;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
   
  
}

.list {
    margin-left: 10px;
    list-style: none;
}

.list a {
    color: rgb(13, 13, 14);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    padding: 7px;
}

.list a:hover {
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
}
input[type="text"],input[type="email"],input[type="password"]{
    background: white ;
    opacity: 0.7;
    color: rgb(8, 8, 8);
    

}
input::placeholder{
    color: black;
    font-style: italic;
}

form {
    text-align: center;
}
.img1{
    cursor: pointer;    
}
.btn{transition: all 0.5s;}
.btn:hover{
    /* transform: scale(1.05); */
    background-color: blue;
    box-shadow: 0 0 5px white;
}
.box-container{
    margin-left: 30px;
    transition: all;
    transition-delay: 0.3s;
   
}
.cards{
    margin: 5px;
    padding: 5px;
    color: aliceblue;
    border: 2px solid rgb(184, 174, 174);
    border-radius: 10px;
    display: inline-block;
    width: 155px;
    height:max-content;
    text-align: center;
    cursor: pointer;
    backdrop-filter: blur(8px);
    transition: all 0.5s;
}
