.holder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 100px;
}
.box{
    
    color: aliceblue;
    display: inline-block;
    font-size:medium ;
    text-align: center;
}
